.DS_Store
**/*/.DS_Store
*.pyc
**/*.pyc
*.pyo
**/__pycache__/*
__pycache__/*
__pycache__
.pytest_cache
*.pytest_cache
**/.pytest_cache/*
secrets/.api_key
.vscode
.vscode/*
src/pdfengine/loader/BDCC-07-00097-v3.pdf
src/pdfengine/loader/pdf.ipynb
src/pdfengine/loader/test.pdf
